##### SYSTEM

PUID=your-puid
PGID=your-pgid
TZ=your-tz
DOCKERDIR=your-dockerdir

##### DOMAIN

DOMAINNAME=your-domainname
PROXMOX_URL=your-proxmox_url

##### VPN
# See https://github.com/qdm12/gluetun-wiki

VPN_SERVICE_PROVIDER=your-vpn_service_provider
WIREGUARD_ADDRESSES=your-wireguard_addresses
SERVER_REGIONS=your-server_regions
TORRENTING_PORT=your-torrenting_port

##### NEKO

NEKO_PASSWORD=your-neko_password
NEKO_PASSWORD_ADMIN=your-neko_password_admin
