##### SYSTEM

PUID=your-puid
PGID=your-pgid
TZ=your-tz
DOCKERDIR=your-dockerdir

##### DOMAIN

DOMAINNAME=your-domainname
PROXMOX_URL=your-proxmox_url

##### VPN
# See https://github.com/qdm12/gluetun-wiki

VPN_SERVICE_PROVIDER=your-vpn_service_provider
WIREGUARD_ADDRESSES=your-wireguard_addresses
SERVER_REGIONS=your-server_regions
TORRENTING_PORT=your-torrenting_port

##### NEKO

NEKO_PASSWORD=your-neko_password
NEKO_PASSWORD_ADMIN=your-neko_password_admin

##### NAVIDROME

NAVIDROME_URL=your-navidrome_url
NAVIDROME_USER=your-navidrome_user
NAVIDROME_PASSWORD=your-navidrome_password
NAVIDROME_LASTFM_APIKEY=your-lastfm_api_key
NAVIDROME_LASTFM_SECRET=your-lastfm_api_secret
NAVIDROME_SPOTIFY_ID=your-spotify_client_id
NAVIDROME_SPOTIFY_SECRET=your-spotify_client_secret

##### LLAMA.CPP

LLAMA_CPP_HF_MODEL=ggml-org/gemma-3-1b-it-GGUF
LLAMA_CPP_MODEL_NAME=llama-cpp
LLAMA_CPP_CTX_SIZE=4096
LLAMA_CPP_PARALLEL=2
LLAMA_CPP_API_KEY=local-llama-cpp
# HF_TOKEN=hf_your-token
